*{
       padding: 0;
       margin: 0;
}
body{
       background-color: #D3D0CB;
}

.card{
       background-color: #393E41;
       color: white;
}

.list-group-item{
       background-color: #393E41;
       color:white;
}

#portada{
     
       background-image: url('/resources/imgs/portada.webp');
       background-repeat: no-repeat;
       width: 100%;
       height:300px;
}
#buscador{
 background: rgb(88, 123, 127);
 background: linear-gradient(180deg, rgba(88, 123, 127, 1) 80%, rgba(211, 208, 203, 1) 100%);
}

.dropdown-item, .dropdown-menu{
       background: rgb(88, 123, 127);
}
.nav-link {
       color: white;
}

.nav-link:hover{
       color: black;
}


form{
       background-color: #393E41;
       border-radius:10px;
       color: white;
}

.form-control{
       color: white;
       background: rgb(88, 123, 127);
}

.form-control:focus {
   color: white;
  background: rgb(88, 123, 127);
}

.carrusel-img{
 animation-name: fadeIn;
 animation-duration: 2s;
 animation-iteration-count: infinite;
}

@keyframes fadeIn {
  from {
       opacity: 0;
  }

  to {
    opacity: 1;
  }
}

